<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.DocumentoMapper">

	<insert id="insertarDocumento">
		INSERT INTO Elemento (
			codigo, 
			nombre, 
			fechaCreacion, 
			fechaUltimaModificacion, 
			esPublico, 
			tipo, 
			estadoDocumento) 
		VALUES (
			#{documento.codigo},
			#{documento.nombre},
			#{documento.fechaCreacion},
			#{documento.fechaUltimaActualizacion},
			#{documento.publico},
			1,
			#{documento.estado})
	</insert>
	

</mapper>